.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a { 
    font-size: 36px;
    font-weight: bold;
}

.header-list { 
    display: flex;
    align-items: center;
    gap: .5em;
}